DJANGO_ALLOWED_HOSTS={{ mailman3_vhost }}
SERVE_FROM_DOMAIN={{ mailman3_domain }}
MAILMAN_ADMIN_USER={{ mailman3_admin_user }}
MAILMAN_ADMIN_EMAIL={{ mailman3_admin_email }}
DATABASE_URL=postgresql://mailman:{{ mailman3_database_password }}@database/mailmandb
DATABASE_TYPE=postgres
SECRET_KEY={{ mailman3_web_secret_key }}
HYPERKITTY_API_KEY={{ mailman3_api_key }}
