DATABASE_URL=postgresql://mailman:{{ mailman3_database_password }}@database/mailmandb
DATABASE_TYPE=postgres
DATABASE_CLASS=mailman.database.postgresql.PostgreSQLDatabase
HYPERKITTY_API_KEY={{ mailman3_api_key }}
MTA=postfix
