# This file is managed by Ansible. Local updates will be lost!

user {{ mailman3_nginx_user }};
worker_processes auto;

events {
    worker_connections  1024;
}

http {
    server_tokens off;
    sendfile on;
    gzip on;

    include mime.types;
    keepalive_timeout 65;

    client_max_body_size 10G; # set max upload size
    fastcgi_buffers 64 4K;
    fastcgi_intercept_errors on;

    include conf.d/*.conf;
}
